/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border-radius: 6px;
	/*font-family: JetBrains Mono;*/
	font-family: Source Code Pro;
	font-size: 16px;
	min-height: 0px;
	padding-left: 2pt;
	padding-right: 2pt;
}

window#waybar {
	/*background: transparent;*/
	border: solid;
	border-width: 2px;
	border-color: #bd93f9;
	margin-top: 10px;
	margin-right: 100px;
	padding-right: 8pt;
	background: rgba(40, 42, 54, 0.8);
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	border-radius: 10px;
	transition: none;
	/*
    color: transparent;
	background: transparent;
    color: #f8f8f2;
	background: #282a36;
    */
    color: #f8f8f2;
	background: #282a36;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#nix {
	color: #00ff00;
}

#workspaces {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	border-radius: 10px;
	/*background: #bd93f9;*/
	transition: none;
	color: #bd93f9;
}

#workspaces button {
	transition: none;
	color: #bd93f9;
	background: transparent;
	font-size: 16px;
}

#workspaces button.active {
	color: #ffffff;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#mpd {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0;
	border-radius: 10px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#pulseaudio {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#temperature {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#cpu {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#memory {
	margin-top: 0px;
	margin-left: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#clock {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}

#battery {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #bd93f9;
}
